<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a th:href="@{/}">मेरी वेबसाइट</a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">मुख पृष्ठ</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/about}" class="nav-link">हमारे बारे में</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/contact}" class="nav-link">संपर्क करें</a>
            </li>
        </ul>
    </div>
</nav>
